projects/.*.guid
project.guid
error.log
/start.me
*.exe
*.bak
*.sdb
*.tdat
test/web/huge.txt
test/web/tmp/
src/server/cache/
test/app/
test/cache/
/build/
*.cgi
test/cgi-bin/*cgi*
test/cgi-bin/testScript
/test/esp/html-mvc/cache
test/regress/tcp
.gitattributes
test/cgi-bin/.prepared
*.xcworkspace/
xcuserdata/
appweb-x86-default/
*.suo
*.sdf
appweb-macosx-mine*
*.exp
*.lib
*.obj
*.pdb
*.tmp
*.opensdf
*.user
*.mdb
.DS_Store
*.dmp
cache/
