*.cgi
test/web/huge.txt
test/web/tmp/
src/server/cache/
test/app/
test/cache/
test/cgi-bin/*cgi*
test/cgi-bin/testScript
/test/esp/html-mvc/cache
test/regress/tcp
test/cgi-bin/.prepared
test/future.json
test/test.dat
samples/certs
test/tmp/test.dat
src/server/certs
.port.log
*.guid
