        <div class="column">
            <div class="inverted secondary pointing ui menu">
                <div class="header left item">
                    <!-- <a href="/index.html"><img src="/images/embedthis.png"></a> -->
                    <a href="/index.html">Appweb Documentation</a>
                </div>
                <div class="right menu">
                    <div class="ui top right">
                        <a class="item" href="https://embedthis.com/appweb/">Appweb</a>
                        <a class="item" href="https://github.com/embedthis/appweb">Repository</a>
                        <a class="item" href="http://groups.google.com/group/appweb">Support</a>
                    </div>
                </div>
            </div>
            <div class="ui breadcrumb">
                <a class="section" href="@@top">Home</a>
                <% for each (crumb in meta.crumbs ) { 
                    for (let [name, url] in crumb ) { %>
                <div class="divider">/</div>
                <a class="section <%= !url ? 'active' : '' %>" href="<%= url || meta.basename %>">
                    <%= name || meta.title%>
                </a>
                <% } } %>
            </div>
        </div>
        <div class="ui black small launch right attached toggle button" style="width: 40px;">
            <i class="icon list layout">
                <span class="text" style="display: none;">Menu</span>
            </i>
        </div>
