  
                    <div class="ui top right">
                        <a class="item <%= @menu('home') %>" href="/">Home</a>
                        <a class="item <%= @menu('products') %>" href="/products.html">Products</a>
                        <a class="item <%= @menu('services') %>" href="/services/">Services</a>
                        <a class="item <%= @menu('about') %>" href="/about/">About Us</a>
                    </div>
