    
    <div class="ui large left vertical inverted labeled overlay sidebar menu">
        <div class="item">
            <a href="@@{top}">
                <b>General</b>
            </a>
            <div class="menu">
                <a class="item" href="@@{top}index.html">Appweb Overview</a>
                <a class="item" href="@@{top}guide/appweb/features.html">Appweb Features</a>
                <a class="item" href="@@{top}product/releaseNotes.html">Release Notes</a>
                <a class="item" href="https://github.com/embedthis/appweb/releases">Change Log</a>
                <a class="item" href="https://github.com/embedthis/appweb/milestones">Roadmap</a>
                <a class="item" href="https://embedthis.com/appweb/download.html">Download</a> 
                <a class="item" href="@@{top}product/compatibility.html">Compatibility</a>
                <a class="item" href="@@{top}licenses/index.html">Licensing</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}guide/appweb/users/gettingStarted.html">
                <b>Getting Started</b>
            </a>
            <div class="menu">
                <a class="item" href="@@{top}guide/appweb/users/quickStart.html">Quick Start</a>
                <a class="item" href="@@{top}product/install/index.html">Installation</a>
                <a class="item" href="@@{top}guide/appweb/users/faq.html">Appweb FAQ</a>
                <a class="item" href="@@{top}guide/appweb/users/starting.html">Starting and Stopping</a>
                <a class="item" href="@@{top}guide/appweb/users/service.html">Running as a Service</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}guide/appweb/users/index.html"><b>Users Guide</b></a>
            <div class="menu">
                <a class="item" href="@@{top}guide/appweb/users/configuration.html">Configuring Appweb</a>
                <a class="item" href="@@{top}guide/appweb/users/configuration.html#directives">Configuration Directives</a>
                <a class="item" href="@@{top}guide/appweb/users/frameworks.html">Web Frameworks</a>
                <a class="item" href="@@{top}guide/appweb/users/modules.html">Using Loadable Modules</a>
                <a class="item" href="@@{top}guide/appweb/users/ports.html">Ports and Binding</a>
                <a class="item" href="@@{top}guide/appweb/users/routing.html">Routing Requests</a>
                <a class="item" href="@@{top}guide/appweb/users/stages.html">Request Pipeline</a>
                <a class="item" href="@@{top}guide/appweb/users/lang.html">Multi-Language Content</a>
                <a class="item" href="@@{top}guide/appweb/users/authentication.html">User Authorization</a>
                <a class="item" href="@@{top}guide/appweb/users/logFiles.html">Logging</a>
                <a class="item" href="@@{top}guide/appweb/users/caching.html">Caching</a>
                <a class="item" href="@@{top}guide/appweb/users/vhosts.html">Virtual Hosts</a>
                <a class="item" href="@@{top}guide/appweb/users/ssl.html">Secure Sockets (SSL)</a>
                <a class="item" href="@@{top}guide/appweb/users/client.html">Http Client</a>
                <a class="item" href="@@{top}guide/appweb/users/security.html">Security Considerations</a>
                <a class="item" href="@@{top}guide/appweb/users/monitor.html">Monitoring and Defending</a>
                <a class="item" href="@@{top}guide/appweb/users/uploading.html">File Upload</a>
                <a class="item" href="@@{top}guide/appweb/users/webSockets.html">WebSockets</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}guide/appweb/programmers/index.html">Programmer Guide</a>
            <div class="menu">
                <a class="item" href="@@{top}guide/appweb/programmers/embedding.html">Embedding Appweb</a>
                <a class="item" href="@@{top}guide/appweb/programmers/modules.html">Creating Appweb Modules</a>
                <a class="item" href="@@{top}guide/appweb/programmers/handlers.html">Creating Appweb Handlers</a>
                <a class="item" href="@@{top}guide/appweb/programmers/stages.html">Creating Pipeline Stages</a>
                <a class="item" href="@@{top}guide/appweb/programmers/migrating.html">Migrating to Appweb 5</a>
                <a class="item" href="@@{top}guide/appweb/programmers/rom.html">Serving Pages from ROM</a>
                <a class="item" href="@@{top}guide/appweb/programmers/man.html">Man Pages</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}ref/appweb/index.html">Reference Guide</a>
            <div class="menu">
                <a class="item" href="@@{top}ref/appweb/native.html">API Library</a>
                <a class="item" href="@@{top}ref/appweb/memory.html">Appweb Memory Allocation</a>
                <a class="item" href="@@{top}ref/appweb/multithread.html">Multithreaded Programming</a>
                <a class="item" href="@@{top}ref/appweb/architecture.html">Appweb Architecture</a>
                <a class="item" href="@@{top}guide/appweb/standards/http.html">HTTP References</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}guide/appweb/source/index.html">Source Code</a>
            <div class="menu">
                <a class="item" href="@@{top}guide/appweb/source/building.html">Building Appweb from Source</a>
                <a class="item" href="@@{top}guide/appweb/source/porting.html">Porting to New Platforms</a>
            </div>
        </div>
        <div class="item">
            <a href="@@{top}product/project.html">Project Resources</a>
            <div class="menu">
                <a class="item" href="https://github.com/embedthis/appweb">Source Code Repository</a>
                <a class="item" href="https://github.com/embedthis/appweb/issues">Project Issue Database</a>
                <a class="item" href="https://embedthis.com/developers/contributors.html">Contributors Agreement</a>
            </div>
        </div>
        <div class="item">
            <b>Links</b>
            <div class="menu">
                <a class="item" href="http://goo.gl/dGRDl4">Official Appweb News</a>
                <a class="item" href="http://groups.google.com/group/appweb">Community Support</a>
                <a class="item" href="https://embedthis.com/">Embedthis Web Site</a>
                <a class="item" href="https://embedthis.com/appweb/">Appweb Web Site</a>
                <a class="item" href="https://embedthis.com/blog/">Embedthis Blog</a>
                <a class="item" href="http://twitter.com/mobstream">Twitter</a>
            </div>
        </div>
    </div>
