<h3>{{action}} Post</h3>

<form name="postForm" ng-controller='PostControl' class="form-horizontal">
    <esp-input-group class="form-control" ng-model="post"></esp-input-group>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" ng-click='save()'>OK</button>
            <button class="btn" ng-click='Esp.goto("/")'>Cancel</button>
            <button class="btn" ng-show="action=='Edit'" ng-click='remove({{post.id}})'>Delete</button>
        </div>
    </div>
</form>
