<h1>{{id ? "Edit" : "Create"}} ${TITLE}</h1>
<form name="${UMODEL}Form" class="form-horizontal">
    <esp-input-group class="form-control" ng-model="${MODEL}"></esp-input-group>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" ng-click='save()'>OK</button>
            <button class="btn" esp-click="/">Cancel</button>
            <button class="btn" ng-show="id" ng-click='remove({{${MODEL}.id}})'>Delete</button>
        </div>
    </div>
</form>
